.page {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.centered {
    display: flex;
}

#name {
    font-size: xxx-large;
}

.btn {
    margin-left: 30px;
}